sudo iptables -A PREROUTING -t mangle -i eth0 -s 31.13.70.0/24 -j MARK --set-mark 11
sudo iptables -A PREROUTING -t mangle -i eth0 -s 184.51.102.0/24 -j MARK --set-mark 11
sudo iptables -A PREROUTING -t mangle -i eth0 -s 23.67.247.0/24 -j MARK --set-mark 11
sudo iptables -A PREROUTING -t mangle -i eth0 -s 184.51.200.0/24 -j MARK --set-mark 11
sudo iptables -A PREROUTING -t mangle -i eth0 -s 64.29.145.0/24 -j MARK --set-mark 11
sudo iptables -A PREROUTING -t mangle -i eth0 -s 172.230.240.0/24 -j MARK --set-mark 11
sudo iptables -A PREROUTING -t mangle -i eth0 -s 72.52.254.0/24 -j MARK --set-mark 11
sudo iptables -A PREROUTING -t mangle -i eth0 -s 172.230.226.0/24 -j MARK --set-mark 11
sudo iptables -A PREROUTING -t mangle -i eth0 -s 66.175.41.0/24 -j MARK --set-mark 11
sudo iptables -A PREROUTING -t mangle -i eth0 -s 23.210.245.0/24 -j MARK --set-mark 11
sudo iptables -A PREROUTING -t mangle -i eth0 -s 54.230.116.0/24 -j MARK --set-mark 11
sudo iptables -A PREROUTING -t mangle -i eth0 -s 54.230.119.0/24 -j MARK --set-mark 11
sudo iptables -A PREROUTING -t mangle -i eth0 -s 54.230.117.0/24 -j MARK --set-mark 11
sudo iptables -A PREROUTING -t mangle -i eth0 -s 54.192.117.0/24 -j MARK --set-mark 11
sudo iptables -A PREROUTING -t mangle -i eth0 -s 64.156.167.0/24 -j MARK --set-mark 11
sudo iptables -A PREROUTING -t mangle -i eth0 -s 199.59.150.0/24 -j MARK --set-mark 11
sudo iptables -A PREROUTING -t mangle -i eth0 -s 184.28.16.0/24 -j MARK --set-mark 11
sudo iptables -A PREROUTING -t mangle -i eth0 -s 96.6.122.0/24 -j MARK --set-mark 11
